<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="INSPIRO" />
    <meta name="description" content="Themeforest Template Polo, html template">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>POLO | The Multi-Purpose HTML5 Template</title>
    <!-- Stylesheets & Fonts -->
    <link href="~/css/plugins.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body>
        <!-- Section -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-3">
                        <h2 class="text-center">¿Olvideste tu contraseña?</h2>
                        @using (Html.BeginForm("Index", "Account", FormMethod.Post, new { @class = "form-validation" }))
                        {
                            <div class="form-group">
                                <p class="center">Para recibir tu contraseña por tu correo</p>
                                @Html.TextBox("email", null, new { @class = "form-control form-white placeholder", placeholder = "Enter your email...", required = "required", type = "email" })
                                @Html.ValidationMessage("email", "", new { @class = "text-danger" })
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn">Recuperar Contraseña</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
        <!-- end: Section -->
    </div> <!-- end: Body Inner -->
    <!-- Scroll top -->
    <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
    <!--Plugins-->
    <script src="js/jquery.js"></script>
    <script src="js/plugins.js"></script>
    <!--Template functions-->
    <script src="js/functions.js"></script>
</body>

</html>