@{
    ViewBag.Title = "AgregarInventario";
}
<main aria-labelledby="title">
        <!-- Body Inner -->
        <div class="body-inner">

            <!-- Section -->
            <section class="fullscreen" style="background-image: url(~/images/pages/1.jpg)">
                <div class="container container-fullscreen">
                    <div class="text-middle">
                        <div class="row">
                            <div class="col-lg-7 center p-30 background-white b-r-6">
                                <div class="col-lg-12 m-t-20 text-center">
                                    <h3>Registrar nuevo objeto en el inventario</h3>
                                    <p>Ingresa un objeto nuevo llenando la información de abajo</p>
                                </div>

                                <div class="col-lg-12 form-group">
                                    <label class="sr-only">Descripción</label>
                                    <input type="text" value="" placeholder="Descripción" class="form-control form-control-lg">
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="sr-only">Cantidad disponible</label>
                                    <input type="text" value="" placeholder="Cantidad disponible" class="form-control form-control-lg">
                                </div>
                                <div class="col-lg-12 form-group">
                                    <button class="btn" type="button">Agregar</button>
                                    <a href="@Url.Action("Index", "Home")" class="btn-link">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end: Section -->
        </div>
        <!-- end: Body Inner -->
        <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
</main>