@{
    ViewBag.Title = "CrearClientes";
}
<main aria-labelledby="title">
        <!-- Body Inner -->
        <div class="body-inner">

            <!-- Section -->
            <section class="fullscreen" style="background-image: url(~/images/pages/1.jpg)">
                <div class="container container-fullscreen">
                    <div class="text-middle">
                        <div class="row">
                            <div class="col-lg-7 center p-30 background-white b-r-6">
                                <div class="col-lg-12 m-t-20 text-center">
                                    <h3>Registrar nuevo cliente</h3>
                                    <p>Ingresa un cliente nuevo llenando la información de abajo</p>
                                </div>

                                <div class="col-lg-12 form-group">
                                    <label class="sr-only">Nombre</label>
                                    <input type="text" value="" placeholder="Nombre" class="form-control form-control-lg">
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="sr-only">Dirección</label>
                                    <input type="text" value="" placeholder="Dirección" class="form-control form-control-lg">
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="sr-only">Teléfono</label>
                                    <input type="text" value="" placeholder="Teléfono" class="form-control form-control-lg">
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="sr-only">Email</label>
                                    <input type="text" value="" placeholder="Email" class="form-control form-control-lg">
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="sr-only">Cedula</label>
                                    <input type="text" value="" placeholder="Cedula" class="form-control form-control-lg">
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="sr-only">Preferencias dieteticas</label>
                                    <input type="text" value="" placeholder="Preferencias dieteticas" class="form-control form-control-lg">
                                </div>
                                <div class="col-lg-12 form-group">
                                    <label class="sr-only">HistorialEventos</label>
                                    <input type="text" value="" placeholder="HistorialEventos" class="form-control form-control-lg">
                                </div>
                                <div class="col-lg-12 form-group">
                                    <button class="btn" type="button">Agregar </button>
                                    <a href="@Url.Action("Index", "Home")" class="btn-link">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end: Section -->
        </div>
        <!-- end: Body Inner -->
        <a id="scrollTop"><i class="icon-chevron-up"></i><i class="icon-chevron-up"></i></a>
</main>