@{
    ViewBag.Title = "Home Page";
}

<main>
    <!-- Inspiro Slider -->
    <div id="slider" class="inspiro-slider slider-fullscreen dots-creative" data-fade="true">
        <!-- Slide 1 -->
        <div class="slide kenburns" data-bg-image="~/images/slider/main.png">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="slide-captions text-center text-light">
                    <!-- Captions -->
                    <h1>Conozca a RyR Gastronomía sin Límites</h1>
                    <p>En RyR Gastronomía sin Límites somos expertos en servicios de catering, preparando alimentos de alta cocina, organizando eventos sociales y empresariales en todo Costa Rica.</p>
                    <!-- end: Captions -->
                </div>
            </div>
        </div>
        <!-- end: Slide 1 -->
        <!-- Slide 2 -->
        <div class="slide" data-bg-image="~/images/slider/comida.png">
            <div class="bg-overlay"></div>
            <div class="container">
                <div class="slide-captions text-center text-light">
                    <!-- Captions -->
                    <h1>Los profesionales del catering para su próximo evento</h1>
                    <p class="text-small">RyR Gastronomía sin Límites pone a su disposición toda nuestra experiencia y calidad, para que se boda, fiesta o eventos corporativos sean inolvidables.</p>
                    <!-- end: Captions -->
                </div>
            </div>
        </div>
        <!-- end: Slide 2 -->
    </div>
    <!--end: Inspiro Slider -->

</main>